.registerDiv{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    background-color: white;
    font-family: "helvetica";
}

.backButton{
    position: fixed;
    top: 3%;
}

.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainRegisterForm{
    margin: auto;
    font-family: "helvetica";
    width: 90%;
}

.TaCDiv{
    position: fixed;
    bottom: 3%;
}

.imageRegisterDiv{
  width: 50%;
  height: 100%;
  float: right;
  justify-content: center;
}
.ant-carousel {
    width: 100%;
    height: 100vh;
}

.slick-slider {	
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    height: 100vh;
    
}
.ant-carousel .ant-image {
  object-fit: 'cover'; 
}
.ant-carousel .ant-image .ant-image-img{
  object-fit: 'cover'; 
}
.ant-carousel .slick-slide img{
  object-fit: cover;
}
.slick-slider {	
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
  height: 100vh;

}

.slick-slide img {
margin-left: auto;
cursor: pointer;
max-width: 100%;
  height: 100vh;

}

.slick-active img {
margin-right: auto;
  
}

.slick-active ~ .slick-slide img {
margin-left: 0;
 
}