.feedContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.feedGrid{
    width: 100%;
    max-width: 1750px;
   
}

.feedTitle{
    font-size: 45px;
    margin-left: 40px;
    color: black;
    font-weight: bold;
    font-family: "Playfair Display";
}


