
.banner{
    width: 100%;
    height: fit-content;
    background-color: #032D23;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: "Playfair Display";
}

.profilePic{
    border-radius: 50%;
    object-fit: cover;
    max-width: 500px;
    max-height: 500px;
}

.profileInfo{
    width: 100%;
   
}

.name{
    font-size: 60px;
    font-size: min(5vw, 100px);
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
}

.username{
    font-size: 30px;
    font-size: min(2.5vw, 100px);
    color: white;
    font-weight: bold;
}

.userRating {
    border-radius: 10px;
    background-color: #109D7C;
    margin-top: 0;
    margin-left: 0;
    width: 10vw;
    min-width: 200px;
}

.recipes{
    margin-top: 8%;
}

.userInfoRow {
    max-width: 1750px;
    width: 100vw;
    margin-left: 50px;
     padding-top: 100px;
      padding-bottom: 70px;
}

