.newRecipe{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    padding: 50px;
    font-family: "Playfair Display";
    background-color: white;
}

.subtitle{
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.imagePicker{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI';
    margin-bottom: 40px;
}

.uploadTitle{
    font-size: 24px;
    font-weight: bold;
}

.imagePickerIcon{
    font-size: 32px;
}

.submitDiv{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadImagePreview {
    width: 55vw;
    height: 27vw;
    border-radius: 25px 25px 25px 25px;
    object-fit: cover;
}
.uploadImagePreviewInstructions {
    width: 30vw;
    height: 20vw;
    border-radius: 25px 25px 25px 25px;
    object-fit: cover;
}

.macroInputs .macroCol{
    margin-right: 2%;
}