.menu {
   float: right;
}

.textLogo {
    float: left;
    font-size: 40px;
    color: black;
    font-weight: bold;
    font-family: "Playfair Display";
    margin-left: 0px;
    margin-top: 0px;
    height: 100%;
  }
  
.search {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 15vw;
}
.userName {
    font-size: 15px;
    color: grey;
    font-weight: bold;
    margin: auto;
}
.userPic {
    /* border: 3px solid grey;
    border-radius: 50%;
    width: 40px;
    height: 40px; */
    font-size: 30px;
    color: grey;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}




