.menu {
    float: right;
   
}

.textLogo {
    float: left;
    font-size: 40px;
    color: black;
    font-weight: bold;
    font-family: "Playfair Display";
    margin-left: 0px;
    margin-top: 0px;
    height: 100%;
  }
  
.search {
    display: flex;
    align-items: center;
    justify-content: center;
}
