.categoryContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #032D23;
    height: 450px;
   
}
.categoryList{
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.categoryTitle{
    font-size: xx-large;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: "Playfair Display";
}

.underlineLink{
    box-shadow: inset 0 0px 0 white, inset 0 -1px 0 white
}

