.recipePage{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    padding: 50px;
    font-family: "Playfair Display";
  
    background-color: white;
}

.saveButton{
    font-size: 26px;
    margin-left: 10px;
    cursor: pointer;
}
.deleteRecipeIcon{
    cursor: pointer;
    font-size: 25px;
}
.goBackIcon{
    cursor: pointer;
    font-size: 30px;
}

.recipeDescritption{
    font-size: 448px;
}
.recipeCats .ant-tag{
    padding: 5px;
    font-size: 15px;
    border-radius: 15px;
}
.recipePageProfilePic{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.pieChart svg{
    width: 300px;
    height: 300px;

}

.recipeRatingDiv {
    display: inline-block;
    font-size: 15px;
    background-color: #109D7C;
    padding: 5px;
    color: white;
    
    text-align: center;
    border-radius: 7px;
    width: 60px;
}

.recipeImage .ant-image-img{
    border-radius: 25px 25px 25px 25px;
    object-fit: cover;
    transition: transform 1s;
    width: 55vw;
    height: 27vw;
    max-width: 1000px;
    max-height: 500px;
}
.recipeImage .ant-image{
    border-radius: 25px 25px 25px 25px;
    object-fit: cover;
    transition: transform 1s;
    width: 55vw;
    height: 27vw;
    max-width: 1000px;
    max-height: 500px;
}
.subtitle{
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.imagePicker{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI';
    margin-bottom: 40px;
   
}

.uploadTitle{
    font-size: 24px;
    font-weight: bold;
}

.imagePickerIcon{
    font-size: 32px;
}

.submitDiv{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadImagePreview {
    width: 70vw;
    height: 30vw;
    object-fit: cover;
}

.instructionsDiv .ant-steps-item-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.instructionsDiv .ant-steps-item-icon{
    font-size: 17px;
}

.instructionsDiv .ant-steps-item-description{
    font-size: 17px;
}

.commentForm .ant-input{
    font-size: 18px;
    margin-bottom: 1%;
}

.commentForm .ant-btn{
    font-size: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commentDiv .ant-comment{
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}

.commentDiv .ant-comment-content{
    font-size: 20px;
}

.commentDiv .ant-comment-content-author-name{
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.commentDiv .ant-comment-avatar img{
    width: 60px;
    height: 60px;
}

.commentDiv .ant-comment-actions span{
    font-size: 20px;
}

.commentDiv .ant-list-item{
    padding: 0px;   
}
.recipePageProfilePic .ant-image{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
    object-fit: 'cover'; 
}
.recipePageProfilePic .ant-image .ant-image-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: 'cover'; 
}
.pieChart{
    margin-top: -55px;
    justify-content: center;
}

.instructionsDiv .ant-image  .ant-image-img{
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 25px 25px;
    object-fit: 'cover'; 
}